<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>551703839092-5mk39kk2u88unnnv3jt48ncdksoq0jsv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.551703839092-5mk39kk2u88unnnv3jt48ncdksoq0jsv</string>
	<key>API_KEY</key>
	<string>AIzaSyC8Vtq3Gs7mEEHAj6PEJDzx5EUNk_kewrY</string>
	<key>GCM_SENDER_ID</key>
	<string>551703839092</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.nimbleltd.PushMyNotifs</string>
	<key>PROJECT_ID</key>
	<string>pushmynotifs-a9e9d</string>
	<key>STORAGE_BUCKET</key>
	<string>pushmynotifs-a9e9d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:551703839092:ios:8ce3a77b4931a5f7</string>
	<key>DATABASE_URL</key>
	<string>https://pushmynotifs-a9e9d.firebaseio.com</string>
</dict>
</plist>